@media (min-width: 0) and (max-width: 659px) {
  .equipment {
    position: relative;
    background-color: $background-color;
    padding: 65px 0 99px;
    min-width: 320px;

    &::before {
      @include pseudo;
      top: -26px;
      left: 0;
      width: 100%;
      height: 26px;
      background-image: linear-gradient(to right bottom, white 50%, $background-color 50%);
    }
  }

  .equipment input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
  }

  .equipment-slider {
    overflow: hidden;
    min-width: 320px;
  }

  .equipment-slider__table {
    @include flex;
    border-collapse: collapse;
    width: 300%;
    transition: transform 1s ease;
    margin-left: 5%;
    margin-right: 5%;
  }

  .equipment-slider__line {
    @include flex;
    position: relative;
    min-height: 59px;
    border-bottom: 2px solid #e5e5e5;

    &--first {
      min-height: 98px;
      text-align: center;
      border-bottom: none;
    }
  }

  .equipment-slider__title {
    @include flex(flex, column);
    font-size: $body-font-size + 4px;
    line-height: $body-line-height + 6px;
    font-weight: $font-bold;
    text-transform: uppercase;
    width: 279px;
    padding-top: 16px;
    color: $text-white;
    background-color: $color-light;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    box-sizing: border-box;
    word-break: break-all;

    &:nth-child(2) {
      border-left: 2px solid #e5e5e5;
    }

    &:nth-child(4) {
      border-right: 2px solid #e5e5e5;
    }

    &--empty {
      min-height: 77px;
      border-left: none;
      border-right: none;
      background-color: transparent;
      border-bottom: 2px solid #e5e5e5;
    }

    &--tablet {
      display: none;
    }

    &--hit {
      position: relative;

      &::before {
        @include pseudo;
        @include background;
        top: 0;
        left: -2px;
        background-image: url("../img/svg/bg-hit.svg");
        width: 74px;
        height: 73px;
      }

      &::after {
        content: "Хит";
        position: absolute;
        font-size: $body-font-size;
        line-height: $body-line-height + 6px;
        font-weight: $font-normal;
        text-transform: uppercase;
        top: 11px;
        left: 9px;
        transform: rotate(-45deg);
      }
    }
  }

  /* stylelint-disable */
  :-ms-fullscreen, :root .equipment-slider__title {
    padding-bottom: 20px;
  }
  /* stylelint-enable */

  .equipment-slider__value {
    font-size: $body-font-size + 10px;
    line-height: $body-line-height + 6px;
    font-weight: $font-light;
    text-transform: uppercase;
    margin-top: 2px;
  }

  .equipment-slider__description {
    font-size: $body-font-size;
    line-height: $body-line-height + 6px;
    font-weight: $font-normal;
    width: 276px;
    border-right: 1px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    background-color: $text-white;
    padding: 7px 5px 0 15px;
    box-sizing: border-box;
    word-break: break-all;

    &--mobile {
      display: inline-block;
      vertical-align: top;
      font-size: $body-font-size;
      line-height: $body-line-height + 6px;
      font-weight: $font-normal;
      text-transform: uppercase;
      border: none;
      width: 202px;
      padding: 0;
      margin: 14px 0 0 21px;
      box-sizing: normal;
    }

    &--tablet {
      display: none;
    }
  }

  /* stylelint-disable */
  :-ms-fullscreen, :root .equipment-slider__description--mobile {
    position: relative;
    padding-bottom: 13px;
  }
  /* stylelint-enable */

  /* stylelint-disable */
  :-ms-fullscreen, :root .equipment-slider__description--mobile::after {
    content: "";
    position: absolute;
    top: -15px;
    right: 223px;
    width: 2px;
    height: 140%;
    background-color: #e5e5e5;
    z-index: 2;
  }
  /* stylelint-enable */

  .equipment-slider__sign {
    position: relative;
    width: 275px;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    background-color: $text-white;

    &--last {
      border-right: 2px solid #e5e5e5;
    }

    &--checked {
      &::before {
        @include pseudo;
        top: 14px;
        right: 17px;
        width: 30px;
        height: 16px;
        box-shadow: 3px -3px #3dc644;
        transform: rotate(135deg);
      }
    }

    &--none {
      &::before {
        @include pseudo;
        top: 10px;
        right: 31px;
        width: 3px;
        height: 36px;
        background-color: #f25b26;
        transform: rotate(-45deg);
      }

      &::after {
        @include pseudo;
        top: 10px;
        right: 31px;
        width: 3px;
        height: 36px;
        background-color: #f25b26;
        transform: rotate(45deg);
      }
    }
  }

  .equipment__buttons {
    position: absolute;
    bottom: 32px;
    left: 51.5%;
    width: 90px;
    transform: translateX(-50%);
  }

  .equipment__buttons label {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    width: 6px;
    height: 6px;
    background-color: rgba($color-light, 0.3);
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba($color-light, 0.6);
    }

    &:active {
      background-color: rgba($color-light, 0.1);
    }
  }

  //стили для управления вторым слайдером на мобильном

  .equipment input[type="radio"]:nth-of-type(1):checked ~ .equipment__wrapper label[for="second-slider-first-button"],
  .equipment input[type="radio"]:nth-of-type(2):checked ~ .equipment__wrapper label[for="second-slider-second-button"],
  .equipment input[type="radio"]:nth-of-type(3):checked ~ .equipment__wrapper label[for="second-slider-third-button"] {
    box-shadow: 0 0 0 3px $color-light;
    background-color: transparent;
  }

  .equipment input[type="radio"]:nth-of-type(1):focus ~ .equipment__wrapper label[for="second-slider-first-button"],
  .equipment input[type="radio"]:nth-of-type(2):focus ~ .equipment__wrapper label[for="second-slider-second-button"],
  .equipment input[type="radio"]:nth-of-type(3):focus ~ .equipment__wrapper label[for="second-slider-third-button"] {
    box-shadow: 0 0 0 3px pink;
  }

  .equipment input[type="radio"]:nth-of-type(1):checked ~ .equipment__wrapper .equipment-slider__table {
    transform: translateX(0);
  }

  .equipment input[type="radio"]:nth-of-type(2):checked ~ .equipment__wrapper .equipment-slider__table {
    transform: translateX(-275px);
  }

  .equipment input[type="radio"]:nth-of-type(3):checked ~ .equipment__wrapper .equipment-slider__table {
    transform: translateX(-555px);
  }
}

@media (min-width: $tablet-width) {
  .equipment {
    position: relative;
    min-width: 660px;
    padding-top: 37px;
    padding-bottom: 69px;
    margin-bottom: 29px;
    background-color: $background-color;

    &::before {
      @include pseudo;
      top: -50px;
      left: 0;
      width: 100%;
      height: 50px;
      background-image: linear-gradient(to right bottom, white 50%, $background-color 50%);
    }
  }

  .equipment input[type="radio"] {
    display: none;
  }

  .equipment__wrapper {
    margin: 0 20px;
  }

  .equipment-slider__table {
    @include flex(flex, column);
    border-collapse: collapse;
  }

  /* stylelint-disable */
  :-ms-fullscreen, :root .equipment-slider__line {
    background-color: white;
    min-height: 0;
  }
  /* stylelint-enable */

  .equipment-slider__line {
    @include flex;
    position: relative;
    min-height: 45px;
    border-bottom: 2px solid #e5e5e5;

    &--first {
      min-height: 78px;
      text-align: center;
      border-bottom: none;
    }
  }

  /* stylelint-disable */
  _:-ms-fullscreen, :root .equipment-slider__title--empty {
    background-color: #f2f2f2;
  }
  /* stylelint-enable */

  .equipment-slider__title {
    @include flex(flex, column);
    justify-content: center;
    font-size: $body-font-size + 2px;
    line-height: $body-line-height - 6px;
    font-weight: $font-bold;
    width: 156px;
    padding-top: 9px;
    color: $text-white;
    background-color: $color-light;
    text-transform: uppercase;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    box-sizing: border-box;
    word-break: break-all;

    &--empty {
      min-height: 77px;
      border-left: none;
      border-right: none;
      background-color: transparent;
      border-bottom: 2px solid #e5e5e5;
    }

    &--tablet {
      display: block;
    }

    &--hit {
      position: relative;

      &::before {
        @include pseudo;
        @include background;
        top: 0;
        left: 0;
        background-image: url("../img/svg/bg-hit-tablet.svg");
        width: 61px;
        height: 61px;
      }

      &::after {
        content: "Хит";
        position: absolute;
        font-size: $body-font-size;
        line-height: $body-line-height + 6px;
        font-weight: $font-normal;
        text-transform: uppercase;
        top: 3px;
        left: 7px;
        transform: rotate(-45deg);
      }
    }
  }

  .equipment-slider__value {
    font-size: $body-font-size + 4px;
    line-height: $body-line-height + 6px;
    font-weight: $font-light;
    text-transform: uppercase;
    margin-top: 3px;
  }

  .equipment-slider__description {
    font-size: $body-font-size;
    line-height: $body-line-height + 6px;
    font-weight: $font-normal;
    width: 155px;
    border-right: 1px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    background-color: $text-white;
    padding: 7px 5px 0 15px;
    box-sizing: border-box;
    word-break: break-all;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  /* stylelint-disable */
  :-ms-fullscreen, :root .equipment-slider__description--tablet {
    padding-bottom: 7px;
  }
  /* stylelint-enable */

  /* stylelint-disable */
  _:-ms-fullscreen, :root .equipment-slider__sign {
    width: 111px;
    padding: 22px;
    border-right: 2px solid #e5e5e5;
    background-color: transparent;
  }
  /* stylelint-enable */

  .equipment-slider__sign {
    position: relative;
    width: 152px;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    background-color: $text-white;

    &--last {
      border-right: 2px solid #e5e5e5;
    }

    &--checked {
      &::before {
        @include pseudo;
        top: 7px;
        left: 63px;
        width: 30px;
        height: 16px;
        box-shadow: 3px -3px #3dc644;
        transform: rotate(135deg);
      }
    }

    &--none {
      &::before {
        @include pseudo;
        top: 5px;
        right: 74px;
        width: 3px;
        height: 36px;
        background-color: #f25b26;
        transform: rotate(-45deg);
      }

      &::after {
        @include pseudo;
        top: 5px;
        left: 76px;
        width: 3px;
        height: 36px;
        background-color: #f25b26;
        transform: rotate(45deg);
      }
    }
  }

  .equipment-slider__line--first th:nth-of-type(2) {
    border-left: none;
    width: 157px;
  }

  .equipment-slider__line--first th:nth-of-type(4) {
    border-right: none;
    width: 157px;
  }
}

@media (min-width: $desktop-width) {
  .equipment {
    position: relative;
    min-width: 1200px;
    padding-top: 68px;
    padding-bottom: 95px;
    margin-bottom: 45px;
    background-color: $background-color;

    &::before {
      @include pseudo;
      top: -80px;
      left: 0;
      width: 100%;
      height: 83px;
      background-image: linear-gradient(to right bottom, white 50%, $background-color 50%);
    }
  }

  .equipment__wrapper {
    @include flex;
  }

  .equipment-slider__table {
    @include flex(flex, column);
    border-collapse: collapse;
    margin: 0 auto;
  }

  .equipment-slider__line {
    min-height: 59px;

    &--first {
      min-height: 98px;
    }
  }

  /* stylelint-disable */
  :-ms-fullscreen, :root .equipment-slider__title {
    padding: 20px 0;
  }
  /* stylelint-enable */

  .equipment-slider__title {
    font-size: $body-font-size + 4px;
    line-height: $body-line-height + 6px;
    width: 235px;
    padding-top: 0;
    padding-bottom: 3px;

    &--empty {
      min-height: 77px;
    }

    &--hit {
      &::before {
        background-image: url("../img/svg/bg-hit.svg");
        width: 74px;
        height: 73px;
      }

      &::after {
        top: 12px;
        left: 10px;
      }
    }
  }

  .equipment-slider__value {
    font-size: $body-font-size + 10px;
    line-height: $body-line-height + 6px;
    margin-top: 0;
  }

  .equipment-slider__description {
    font-size: $body-font-size + 4px;
    line-height: $body-line-height + 6px;
    width: 235px;
    padding: 14px 5px 0 22px;
  }

  /* stylelint-disable */
  :-ms-fullscreen, :root .equipment-slider__description--tablet {
    padding-bottom: 15px;
  }
  /* stylelint-enable */

  /* stylelint-disable */
  _:-ms-fullscreen, :root .equipment-slider__sign {
    width: 175px;
    padding: 29px;
  }
  /* stylelint-enable */

  .equipment-slider__sign {
    width: 231px;

    &--checked {
      &::before {
        top: 16px;
        left: 101px;
      }
    }

    &--none {
      &::before {
        top: 12px;
        right: 116px;
      }

      &::after {
        top: 12px;
        left: 114px;
      }
    }
  }

  .equipment-slider__line--first th:nth-of-type(2) {
    width: 235px;
  }

  .equipment-slider__line--first th:nth-of-type(4) {
    width: 235px;
  }
}
