.feedback {
  position: relative;
  background-color: $text-white;
  margin-top: -41px;
  padding: 41px 0 98px;
}

.feedback__desktop-button {
  display: none;
}

.feedback input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.feedback-slider {
  overflow: hidden;
}

.feedback-slider__list {
  @include list;
  @include flex;
  width: 300%;
  transition: transform 1s ease;
}

.feedback .feedback__item {
  margin: 0 20px;
}

.feedback-slider__item {
  text-align: center;
  width: 320px;
}

.feedback-slider__title {
  font-size: $body-font-size + 4px;
  line-height: $body-line-height + 6px;
  font-weight: $font-bold;
  color: black;
}

.feedback-slider__title--position {
  display: none;
}

.feedback-slider__description {
  font-size: $body-font-size;
  line-height: $body-line-height + 6px;
  font-weight: $font-normal;
  color: $color-light;
}

.feedback__buttons {
  position: absolute;
  bottom: 52px;
  left: 52.9%;
  width: 90px;
  transform: translateX(-50%);
}

.feedback__buttons label {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
  width: 6px;
  height: 6px;
  background-color: rgba($color-light, 0.3);
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: rgba($color-light, 0.6);
  }

  &:active {
    background-color: rgba($color-light, 0.1);
  }
}

//стили для управления первым слайдером на мобильном

.feedback input[type="radio"]:nth-of-type(1):checked ~ .feedback__buttons label[for="first-slider-first-button"],
.feedback input[type="radio"]:nth-of-type(2):checked ~ .feedback__buttons label[for="first-slider-second-button"],
.feedback input[type="radio"]:nth-of-type(3):checked ~ .feedback__buttons label[for="first-slider-third-button"] {
  box-shadow: 0 0 0 3px $color-light;
  background-color: transparent;
}

.feedback input[type="radio"]:nth-of-type(1):focus ~ .feedback__buttons label[for="first-slider-first-button"],
.feedback input[type="radio"]:nth-of-type(2):focus ~ .feedback__buttons label[for="first-slider-second-button"],
.feedback input[type="radio"]:nth-of-type(3):focus ~ .feedback__buttons label[for="first-slider-third-button"] {
  box-shadow: 0 0 0 3px pink;
}


.feedback input[type="radio"]:nth-of-type(1):checked ~ .feedback__wrapper .feedback__list {
  transform: translateX(0);
}

.feedback input[type="radio"]:nth-of-type(2):checked ~ .feedback__wrapper .feedback__list {
  transform: translateX(-320px);
}

.feedback input[type="radio"]:nth-of-type(3):checked ~ .feedback__wrapper .feedback__list {
  transform: translateX(-640px);
}

@media (min-width: $tablet-width) {
  .feedback {
    margin-top: 32px;
    margin-bottom: 20px;

    &::before {
      display: none;
    }
  }

  .feedback-slider__item {
    @include flex(flex, column-reverse);
    justify-content: flex-end;
    width: 660px;
  }

  .feedback-slider__description {
    font-size: $body-font-size + 4px;
    margin-bottom: 35px;
  }

  .feedback-slider__title {
    font-size: $body-font-size + 6px;

    &--position {
      display: block;
      font-size: $body-font-size;
      line-height: $body-line-height + 6px;
      font-weight: $font-normal;
      color: $color-light;
      margin-top: 2px;
    }
  }

  .feedback__buttons {
    bottom: 37px;
    left: 51.2%;
  }

  //стили для управления первым слайдером на планшете

  .feedback input[type="radio"]:nth-of-type(1):checked ~ .feedback__wrapper .feedback__list {
    transform: translateX(0);
  }

  .feedback input[type="radio"]:nth-of-type(2):checked ~ .feedback__wrapper .feedback__list {
    transform: translateX(-660px);
  }

  .feedback input[type="radio"]:nth-of-type(3):checked ~ .feedback__wrapper .feedback__list {
    transform: translateX(-1320px);
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    position: relative;
    margin-top: 144px;
    margin-bottom: 22px;

    &::before {
      @include pseudo;
      @include background;
      display: block;
      background-image: url("../img/svg/icon-quotes.svg");
      background-size: 79px 64px;
      width: 79px;
      height: 64px;
      top: -71px;
      left: 46.9%;
    }
  }

  .feedback__desktop-button {
    display: block;
    position: absolute;
    width: 35px;
    height: 45px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 1;

    &:focus {
      box-shadow: 0 0 0 2px lightblue;
    }

    &:hover::before {
      border: 2px solid rgba($color-light, 0.6);
    }

    &:active::before {
      border: 2px solid rgba($color-light, 0.1);
    }

    &--left {
      top: 67px;
      left: 127px;

      &::before {
        @include pseudo;
        top: 5px;
        left: 10px;
        width: 30px;
        height: 30px;
        border: 2px solid rgba($color-light, 0.3);
        transform: rotate(135deg);
        clip: rect(3px, auto, auto, 3px);
      }
    }

    &--right {
      top: 67px;
      right: 127px;

      &::before {
        @include pseudo;
        top: 5px;
        right: 10px;
        width: 30px;
        height: 30px;
        border: 2px solid rgba($color-light, 0.3);
        transform: rotate(-45deg);
        clip: rect(3px, auto, auto, 3px);
      }
    }
  }

  .feedback-slider__item {
    @include flex(flex, column-reverse);
    justify-content: flex-end;
    width: 1200px;
  }

  .feedback-slider__description {
    margin: 0 200px 35px;
  }

  .feedback-slider__title {
    font-size: $body-font-size + 10px;
    line-height: $body-line-height + 6px;

    &--position {
      font-size: $body-font-size + 4px;
      margin-top: 2px;
    }
  }

  .feedback__buttons {
    display: none;
  }
}
