@font-face
  font-family "Droid Serif"
  src url("../fonts/droidserif.woff2") format("woff2"),
    url("../fonts/droidserif.woff") format("woff")
  font-weight 400
  font-style normal
  font-display swap

@font-face
  font-family "Droid Serif"
  src url("../fonts/droidserifitalic.woff2") format("woff2"),
    url("../fonts/droidserifitalic.woff") format("woff")
  font-weight 400
  font-style italic
  font-display swap

@font-face
  font-family "Droid Serif"
  src url("../fonts/droidserifbold.woff2") format("woff2"),
    url("../fonts/droidserifbold.woff") format("woff")
  font-weight 700
  font-style normal
  font-display swap

@font-face
  font-family "Droid Serif"
  src url("../fonts/droidserifbolditalic.woff2") format("woff2"),
    url("../fonts/droidserifbolditalic.woff") format("woff")
  font-weight 700
  font-style italic
  font-display swap

@font-face
  font-family "Montserrat"
  src url("../fonts/montserrat.woff2") format("woff2"),
    url("../fonts/montserrat.woff") format("woff")
  font-weight 400
  font-style normal
  font-display swap

@font-face
  font-family "Montserrat"
  src url("../fonts/montserratbold.woff2") format("woff2"),
    url("../fonts/montserratbold.woff") format("woff")
  font-weight 700
  font-style normal
  font-display swap

html
  margin 0
  padding 0

body 
  font-family font-droid
  font-weight font-regular
  font-style font-normal
  font-size body-font-size
  line-height body-line-height
  min-width desktop-width

.visually-hidden
  position absolute
  width 1px
  height 1px
  border 0
  padding 0
  clip rect(0 0 0 0)
  overflow hidden

.site-wrapper
  width 1170px
  margin 0 auto
  padding 0
