font-droid = "Droid Serif", "Times New Roman", serif
font-mont = "Montserrat", "Arial", sans-serif
font-regular = 400
font-bold = 700
font-normal = normal
font-italic = italic
body-font-size = 14px
body-line-height = 16px
title-color = #c55842
subtitle-color = #918686
nav-color = #bcc1c4
nav-top-color = #f6d98f
title-goods-color = #6a6060
title-bestgoods-color = #78965b
text-white = white
active-color = rgba(#c55842, 0.5)
background-top-color = #4d4849
background-discover-color = #f2f6f7
background-popup = #f1eded
desktop-width = 1200px
