font-droid = "Droid Serif", "Times New Roman", serif
font-mont = "Montserrat", "Arial", sans-serif
font-regular = 400
font-bold = 700
font-normal = normal
font-italic = italic
body-font-size = 14px
body-line-height = 16px
title-color = #c55842
subtitle-color = #918686
nav-color = #bcc1c4
nav-top-color = #f6d98f
title-goods-color = #6a6060
title-bestgoods-color = #78965b
text-white = white

background-top-color = #4d4849
// desktop-width = 2560px
desktop-width = 1200px
retina-dpi = 144dpi
retina-dppx = 1.5dppx
