.contacts
  flex()
  font-family font-mont
  margin-top -46px

.contacts__wrapper
  flex(flex, column)
  align-items center
  width 415px
  min-height 170px
  padding 0 10px
  background-color lightblue
  box-sizing border-box

  &--invitation
    background-color nav-top-color

  &--invitation
  &--contact
    width 170px

.contacts__description
.contacts__wrapper--contact span
  font-size body-font-size - 1px
  line-height body-line-height - 2px
  font-weight font-regular
  color subtitle-color

.contacts__wrapper--invitation .contacts__description
  font-family font-droid
  font-size body-font-size + 7px
  line-height body-line-height + 9px
  font-weight font-regular
  font-style font-italic
  color #a28026
  span 
    color title-color

  &--date
    font-family font-mont
    font-size body-font-size - 1px
    line-height body-line-height - 2px
    font-weight font-regular
    font-style font-normal

.contacts__link
  link(none, title-color)
  font-family font-droid
  font-size body-font-size + 18px
  line-height body-line-height + 20px
  font-weight font-bold

.contacts__wrapper--contact .contacts__link
  link()
  width 130px
  min-height 40px
  font-family font-mont
  font-size body-font-size - 1px
  line-height body-line-height - 2px
  font-weight font-bold
  text-transform uppercase
  background-color title-color